<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Home</h1>
		<p>This is a secure page. Users need to have a valid account and be logged in to see it.</p>
		<p><a href="/upload">upload</a></p>
		<p><a href="/logout">log out</a></p>

		<table>
			<tr>
				<th>Filename</th>
				<th>Filesize</th>
				<th>Filetype</th>
				<th>Uploaded at</th>
				<th>Expires in</th>
			</tr>
			{{#each files}}
			<tr>
				<td>{{this.filename}}</td>
				<td>{{this.filesize}}</td>
				<td>{{this.filetype}}</td>
				<td>{{this.timestamp}}</td>
				<td>{{this.timeleft.days}} days, {{this.timeleft.hours}} hours, {{this.timeleft.minutes}} minutes, {{this.timeleft.seconds}} seconds</td>
				<td><a href="/download/{{this.user}}/{{this.hashedname}}">Download</a></td>
				<td><a href="/email/{{this.user}}/{{this.hashedname}}">Share</a></td>
			</tr>
			{{/each}}
		</table>
</html>